@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  background-color:  #3A3C42;
}

.box{
  width: 400px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: none;
}

.box input[type="text"], .box input[type="password"], .box input[type="email"]{
  background-color: white;
  display: block;
  margin: 18px auto;
  border: none;
  text-align: left;
  padding: 14px 10px;
  width: 260px;
  outline: none;
  color: black;
}

.box input[type="submit"]{
  background: #3489db;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: none;
  padding: 14px 40px;
  width: 260px;
  outline: none;
  color: white;
}

.box input[type="submit"]:hover{
  background-color: #3597f3;
}

.box input[type="text"]:focus, .box input[type="password"]:focus, .box input[type="email"]:focus{
  width: 290px;
}
