{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=yes'/>
    <title>FNGame » login</title>
    <link rel="stylesheet" href="{% static './css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static './css/signup-login.css' %}">
  </head>
  <body>
    <form class="box" method="POST" action="userin">
      {% csrf_token %}
      {% if messages %}
      <div class="alert alert-danger" role="alert">
          {% for message in messages%}
          <b>{{message}}</b>
          {% endfor%}
      </div>
      {% endif %}
      <div class="text-center">
        <div class="logo-container">
          <a href="{% url 'index' %}"><img src="./static/img/fngame-logo.png" width="260px"></a>
        </div>
        <input type="text" name="username" placeholder="Username" required id="username_id">
        <input type="password" name="password" placeholder="Password" required id="password_id">
      </div>
      <input type="submit" name="login" value="Log In">
      <div class="text-center" style="color: white;">
        Don't have an account ? <a href="{% url 'signup' %}" style="color: #00A2ED;">Sign Up</a>
      </div>
    </form>  
    <script src="{% static './js/core/jquery.min.js' %}"></script>
    <script src="{% static './js/core/popper.min.js' %}"></script>
    <script src="{% static './js/core/bootstrap.min.js' %}"></script>
  </body>
</html>