{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=yes'/>
    <title>FNGame » sign up</title>
    <link rel="stylesheet" href="{% static './css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static './css/signup-login.css' %}">
  </head>
  <body>
    <form class="box" method="POST" action="adduser">
      {% csrf_token %}
      {% if messages %}
      <div class="alert alert-danger" role="alert">
          {% for message in messages%}
          <b>{{message}}</b>
          {% endfor%}
      </div>
      {% endif %}
      <div class="text-center">
        <div class="logo-container">
          <a href="{% url 'index' %}"><img src="./static/img/fngame-logo.png" width="260px"></a>
        </div>
        <input type="text" name="username" placeholder="Username" required id="username_id">
        <input type="email" name="email" placeholder="Email Address" required id="email_id">
        <input type="password" name="password" placeholder="Password" required id="password_id1">
        <input type="password" name="pwd_confirm" placeholder="Confirm Password" required id="password_id2">
      </div>
      <input type="submit" name="signup" value="Sign Up">
      <div class="text-center" style="color: white;">
        Already have an account ? <a href="{% url 'login' %}" style="color: #00A2ED;">Log In</a>
      </div>
    </form>
  <script src="{% static './js/core/jquery.min.js' %}"></script>
  <script src="{% static './js/core/popper.min.js' %}"></script>
  <script src="{% static './js/core/bootstrap.min.js' %}"></script>
</body>
</html>